<div *ngIf="items===null || items.length==0" class="col-xs-12">
  <p>Não há itens de compra. Selecione um item <a [routerLink]="['/restaurants']">aqui!</a></p>

  </div>
<table  *ngIf="items!==null && items.length!=0" class="table table-striped">
  <thead>
  <tr>
    <th class="text-center">Quantidade</th>
    <th>Item</th>
    <th>Descrição</th>
    <th class="text-right">Subtotal</th>
    <th class="text-right"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td class="text-center">
      <a (click)="decrease(item)" class="btn btn-sm"><i class="fa fa-minus"></i></a>
      {{item.quantity}}
      <a (click)="increase(item)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
    </td>
    <td>{{item.menuItem.name}}</td>

    <td>{{item.menuItem.description}}</td>
    <td class="text-right">{{item.value() | currency:'BRL':true}}</td>
    <td class="text-right">
      <a (click)="remove(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
    </td>
  </tr>
  

  </tbody>
</table>